@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/style.css/StyleSheet1.css" />

<div class="jumbotron">
    <h1>JD's First Website (class=jumbotron)</h1>
    <p class="lead">This is in the "lead" class</p>
    <p><a href=/Home/Videos class="btn btn-primary btn-lg">This is a button to the videos page that I added. &raquo;</a></p>
</div>

<div class="row">
    
    <div class="col-sm-1">
        <h2>This is part of a row</h2>
        <p>
            <span>Learning what all of this code means is interesting.</span>
        </p>
        <p><a class="btn btn-default; hover" href="https://www.youtube.com">Want to visit YouTube? &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>This is the second part of a row</h2>
        <p>Hmmmmm... Intesting...</p>
        <p><a class="btn btn-default" href="https://www.chess.com">Care for some chess? Hey! An arrow: &raquo;</a></p>
    </div>
   
</div>