
@{
    ViewBag.Message = "For convenient use";
}




<link rel="stylesheet" type="text/css" href="~/Style.css/StyleSheet1.css" />

<style>
    
    td.links {
        width:100px;
    }
    

</style>

<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>


<div class ="row">
    <table>
    
        <tr>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://calderonus.com">Calderonus</a></td>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://www.google.com">Google</a></td>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://www.wikipedia.org">Wikipedia</a></td>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://www.att.net">Att</a></td>
        </tr>
        
        
        <tr>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://www.chess.com">Chess</a></td>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://www.youtube.com">Youtube</a></td>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://www.amazon.com">Amazon</a></td>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://www.netflix.com">Netflix</a></td>
        </tr>

    </table>
</div>

<div class="row" style="background-color:black"></div>

<div class="row">
    <table cellpadding="10">
        <tr>
            <td><a href="https://calderonus.com"><img src="~/img/calderonus-icon.jpg" /></a></td>
            <td><a href="https://www.google.com"><img src="~/img/google-icon.jpg" /></a></td>
            <td><a href="https://www.wikipedia.org"><img src="~/img/Wikipedia-icon2.jpg" /></a></td>
            <td><a href="https://www.att.net"><img src="~/img/att-icon.jpg" /></a></td>

        </tr>

        <tr>
            <td><a href="https://www.chess.com"><img src="~/img/chess-icon.jpg" /></a></td>
            <td><a href="https://www.youtube.com"><img src="~/img/youtube-icon.jpg" /></a></td>
            <td><a href="https://www.amazon.com"><img src="~/img/amazon-icon.jpg" /></a></td>
            <td><a href="https://www.netflix.com"><img src="~/img/netflix-icon.jpg"</a></td>
        </tr>
    </table>
</div>


