
@{
    ViewBag.Message = "For convenient use";
}




<link rel="stylesheet" type="text/css" href="~/Style.css/StyleSheet1.css" />

<style>
    
    td.links {
        width:100px;
    }
    

</style>

<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>
<table align="left">
    
        <tr>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://calderonus.com/">Calderonus</a></td>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://www.google.com">Google</a></td>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://www.wikipedia.org">Wikipedia</a></td>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://www.att.net">Att</a></td>
        </tr>
        
        
        <tr>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://www.chess.com">Chess</a></td>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://www.youtube.com">Youtube</a></td>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://www.amazon.com">Amazon</a></td>
            <td class="links"><a class="btn btn-primary btn-group-justified" href="https://www.netflix.com">Netflix</a></td>
        </tr>
       

</table>



